@model griptide.Domain.Entities.ContentEntry

<div class="updateInstance">
    <span class="quickUpdateTitle">@Model.EntryTitle</span><br />
    <span class="quickUpdateDate">@Model.DateCreated</span><br />
    <span class="quickUpdateText">@Model.EntryText</span>
</div>